@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #305077;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.textfield {
  @apply p-1 rounded bg-white text-black;
}
